.form {
    background: white;
    margin-left: 50px;
    width: 85%;
}

.form .form-group {

}

.form .date {
    padding-top: 20px;
}
.form .date label{
    display: inline-block;
    float: left;
    font-size: 15px;
    line-height: 25px;
    margin: 0;
}

.form .date input[type="date"] {
    display: inline-block;
    float: left;
    width: 80%;
}

.form .survey h4{
    font-size: 20px;
}

.form .survey .row {
    padding-left: 20px;
    box-sizing: border-box;
}

.form .survey label {
    display: block;
}
.form .survey label input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.form .survey label span {
    font-weight: normal;
    font-size: 20px;
    margin-left: 5px;
}

.form button {
    margin-left: 40%;
    margin-bottom: 15px;
}


form .select-subject {
    width: 70%;
    margin-left: 20px;
}

form .select-subject .survey{
    box-sizing: border-box;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 0 12px;
    margin: 0;
    height: 50px;
}

form .select-subject .survey-content {
    height: 100%;
}

form .select-subject input[type="checkbox"]{
    display:inline-block;
    height: 20px;
    width: 20px;
    margin-top: 15px;
    margin-right: 10px;
}

form .select-subject label {
    display:inline-block;
    position: absolute;
    top: 0;
    height: 100%;
    margin: 0;
}

form .select-subject label span {
    display:inline-block;
    position: absolute;
    top: 0;
    height: 100%;
    margin: 0;
    border-left: 1px solid gray;
    padding-top: 9px;
    padding-left: 15px;
    font-size: 20px;
    font-weight: normal;
}

form .select-subject .first-child {
    border-top: 1px solid gray;
}

form button[type="button"] {
    margin-top: 20px;
    margin-left: 20%;
}